/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
/public/css
/public/images
/public/js
/public/*.js
/.history
.history
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
app/Http.zip
app/Mail.zip
public/assets.zip
public/js.zip
/GráficaYDemás